* {
    box-sizing: border-box;
    margin: 0;
}
body { margin: 0; }
header { background-color: #004175; }
h1 {color: white;}
main
{ background-color: white;
 }

 .playingmatt {
    margin-left: 57px;
    margin-right: 150px;
    padding: 0px;
    display: flex;
    object-fit: contain;
    justify-content: center;    
    flex-wrap: nowrap;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
}
 .card {

    
}
.traits {
    display: flex;
    flex-wrap: wrap;
    width: 395px;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.card img {
    width: 15rem;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 57px;
    margin-right: 150px;
    padding: 0px;
}

